body{
  font-family: Roboto;
  background-color: #f1f1f1;
}
.app-navbar{
    box-shadow: 0px 2px 2px 2px rgba(0,0,0,0.23);
}
.card{
    box-shadow: 0 4px 2px -2px gray;
}
.navbar a, .card a{
  text-decoration: inherit;
  color: inherit;
}
.navbar a,.card a:visited{
  text-decoration: inherit;
  color: inherit;
}
.navbar a, .card a:hover{
  text-decoration: inherit;
  color: inherit;
}
.container-detalhe-curso i.mdi, i.mdi.mdi-calendar{
  font-size:19pt;
}
.card-footer{
  background-color:white;
  font-size:11pt;
}
.card-footer p{
  margin-top:7px;
}
.container-detalhe-curso{
  margin-top:-4.0em;
}
